<ion-header>

    <ion-toolbar>
        <ion-title>من نحن</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content>
    <div class="container-page" (swipe)="swipeEvent($event)">
        <img src="assets/imgs/about.jpg">

        <div class="about-page" padding text-center>

            <div class="about-section">
                <div [innerHTML]="about.content_ar"></div>
            </div>

        </div>
    </div>
</ion-content>
