<ion-content padding text-center class="light-gray-bg">
    <div class="login-section">
        <img src="assets/imgs/logo.png">
        <h5>تسجيل دخول</h5>
        <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
            <ion-item mode="ios">
                <ion-input type="email" formControlName="email" placeholder="البريد الالكتروني"></ion-input>
            </ion-item>
            <ion-item mode="ios">
                <ion-input type="password" formControlName="password" placeholder="كلمة المرور"></ion-input>
            </ion-item>
            <p class="forget-password" (click)="resetPassword()"><a>هل نسيت كلمة السر ؟</a></p>
            <button type="submit" ion-button class="blue-btn">تسجيل الدخول</button>
        </form>
        <p class="new-account" (click)="register_page()"><a>ليس لديك حساب ؟ <span>انشاء حساب جديد</span></a></p>
    </div>
</ion-content>
