<ion-header class="dark-blue">

    <ion-navbar hideBackButton>
        <ion-title>تسجيل عضوية جديدة</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="small-padding">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <form [formGroup]="form" (ngSubmit)="signUp()">
            <ion-grid>

                <ion-row>
                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating><span class="required-star">*</span> الاسم</ion-label>
                            <ion-input formControlName="name" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating><span class="required-star">*</span> البريد الالكتروني</ion-label>
                            <ion-input formControlName="email" type="email"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating><span class="required-star">*</span>كلمة المرور</ion-label>
                            <ion-input formControlName="password" type="password"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating><span class="required-star">*</span> تأكيد كلمة المرور</ion-label>
                            <ion-input formControlName="password_confirmation" type="password"></ion-input>
                        </ion-item>
                    </ion-col>


                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item>
                            <ion-label floating><span class="required-star">*</span>المدينة</ion-label>
                            <ion-select formControlName="city" type="text" okText="اذهب" cancelText="رجوع">
                                <ion-option *ngFor="let city of cities"  [value]="city.id">{{city.name_ar}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm-6 col-lg-4>

                        <ion-item mode="ios">
                            <ion-label floating>المنطقة</ion-label>
                            <ion-input formControlName="area" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios">
                            <ion-label floating>الشارع</ion-label>
                            <ion-input formControlName="street" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios" floating>
                            <ion-label floating><span class="required-star">*</span>الهاتف المحمول</ion-label>
                            <ion-input formControlName="phone" type="tel"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-6 col-lg-4>
                        <ion-item mode="ios" floating class="rules-textarea">
                            <div class="rules-text" [innerHTML]="rulesText"></div>
                        </ion-item>
                        <ion-item floating>
                            <ion-label><span class="required-star">*</span>قواعد</ion-label>
                            <ion-toggle formControlName="rules"></ion-toggle>
                        </ion-item>
                    </ion-col>

                </ion-row>
            </ion-grid>

            <div text-center>
                <button type="submit" class="blue-btn register-btn"> تسجيل</button>
            </div>
        </form>
    </div>
</ion-content>
