page-register {
  .required-star {
    color: #a51f1f;
  }
  .rules-textarea ion-label {
    overflow-y: auto !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
  }
  .rules-text {
    height: 150px !important;
  }
  .register-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .toggle-checked .toggle-inner {
    background-color: #2e1c54 !important;
  }
}
