<ion-header>

    <ion-toolbar>
        <ion-title>تواصل معنا</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="gray" navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="container-page" (swipe)="swipeEvent($event)">
        <img src="assets/imgs/contact.jpg">

        <div class="contact-page" padding text-center>

            <div text-right>
                <p> البريد الالكتروني : <a href="#">info@dbay.com</a></p>
                <p>هاتف : <a href="#">00965123123123</a></p>
                <p>فاكس : <a href="#">00965123123123</a></p>
            </div>

            <br>
            <form [formGroup]="form" (ngSubmit)="contact()">
                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">*</span> الموضوع</ion-label>
                    <ion-input formControlName="subject" type="text"></ion-input>
                </ion-item>

                <ion-item mode="ios">
                    <ion-label floating><span class="required-star">*</span> الرسالة</ion-label>
                    <ion-textarea formControlName="message"></ion-textarea>
                </ion-item>

                <br>
                <div text-left>
                    <button type="submit" class="blue-btn">ارسال</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</ion-content>
