<ion-header>
    <ion-toolbar>
        <ion-title>ساهم</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding class="light-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <ion-grid>
            <ion-row>
                <ion-col col-6 *ngFor="let category of categories">
                    <a href="#" (click)="goToCat(category)">
                        <div class="category-item">
                            <img [src]="endpoint + category.mobile_app_img" alt="">
                            <div class="absolute-icon">
                                <img [src]="endpoint + category.mobile_app_icon" alt="">
                            </div>
                            <div class="absolute-title">
                                <h3>{{category.name_ar}}</h3>
                            </div>
                        </div>
                    </a>
                </ion-col>
                <ion-col col-6>
                    <a href="#" (click)="goToDonate()">
                        <div class="category-item">
                            <img src="assets/imgs/for_dbay.png" alt="">
                            <!--<div class="absolute-icon">-->
                            <!--<img src="assets/imgs/for_dbay.png" alt="">-->
                            <!--</div>-->
                            <div class="absolute-title">
                                <h3>اتركها لـ دي باي</h3>
                            </div>
                        </div>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>


