
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border: none;
    background: #fff;
}

/*categories page start*/

.category-item {
  position: relative;
}

.category-item a {
  position: relative;
}

.category-item img:first-child {
  width: 100%;
}

.category-item .absolute-icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
}

.category-item .absolute-icon img {
  max-width: 30px;
  width: 100%;
  -webkit-filter: hue-rotate(280deg) brightness(300%);
  filter: hue-rotate(280deg) brightness(300%);
  -webkit-transition: margin 0.5s ease, -webkit-filter 0.2s ease;
  transition: margin 0.5s ease, -webkit-filter 0.2s ease;
  transition: filter 0.2s ease, margin 0.5s ease;
  transition: filter 0.2s ease, margin 0.5s ease, -webkit-filter 0.2s ease;
}

.category-item .absolute-title {
    position: absolute;
    bottom: 50%;
    margin-bottom: -40px;
    left: 0px;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.for-dbay .absolute-title {
  bottom: 50%;
  margin-bottom: -20px;
}

.category-item .absolute-title h3 {
  color: #fff;
  font-weight: 100 !important;
  font-size: 16px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin: 0;
}

.category-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #23225a;
  opacity: 0;
  right: 0px;
  top: 0px;
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}




/*categories page end*/