// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//cairo

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url('../assets/fonts/cairo/KHiPzIiPko_Fw3pWntR2CoDGDUGfDkXyfkzVDelzfFk.woff2') format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url('../assets/fonts/cairo/iExxv6nlTbTZ7OYq-WHjN4DGDUGfDkXyfkzVDelzfFk.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url('../assets/fonts/cairo/9AWxzDXz2R7tHfJeCoIOqqCWcynf_cDxXwCLxiixG1c.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


// font icons

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/icomoon.eot?kmppd0');
  src:  url('../assets/fonts/icomoon/icomoon.eot?kmppd0#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?kmppd0') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?kmppd0') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?kmppd0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"]{
  @extend .ion;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}


  @mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(wheatoutline, '\e900');
@include makeIcon(wheat, '\e901');

// end font icons


*{
   font-family: 'Cairo', sans-serif;
}

.light-gray-bg{
   background-color: #f8f8f8;
}

.no-v-padding{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.small-padding .scroll-content{
  padding: 8px !important;
}



.no-h-padding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.toolbar-mempership-number{
    line-height: 100%;
    font-size: 14px;
    margin-top: 0px;
}

.toolbar-user-name {
    line-height: 25px;
}

ion-card{
      -webkit-box-shadow:0px 3px 10px rgba(0, 0, 0, 0.08) !important;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08) !important;
      border-radius: 15px !important;
}

.case-card-container h2{
  color: #a3a3a3;
  font-size: 21px;
}

.case-card-container h4{
  color: #000;
  font-size: 14px;
  margin-top: 5px;
}

.case-card-container p{
  color: #5e5e5e;
  margin-top: 10px;
  margin-bottom: 5px;
}

.case-card-container .grid{
  padding: 5px 0px !important;
}

.case-card-container h3.success {
  color: #00b36d;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon ,
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
    color: #302c77;
}

.reg-blue .toolbar-background{
  background-color: #2f2d78 !important;
  color:#fff !important;
}
.dark-blue .toolbar-background {
  background-color: #23225a !important;
   color:#fff !important;
}

.reg-blue .toolbar-title,.dark-blue .toolbar-title,.reg-blue button,.dark-blue button{
   color:#fff !important;
}

.yellow-text{
  color: #fecc09;
}

.white-text{
  color: #fff;
}


.blue-btn {
    color: #fff;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 1.2em;
    background: #2e1c54;
    box-shadow: none !important;
    -webkit-shadow: none !important;
    background: -webkit-linear-gradient(right, #2e1c54 0%, #2f2e7b 100%);
    background: -webkit-linear-gradient(left, #2e1c54 0%, #2f2e7b 100%);
    background: linear-gradient(to right, #2e1c54 0%, #2f2e7b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e1c54', endColorstr='#2f2e7b', GradientType=0);
}

.blue-btn-link {
    color: #2f2d78;
    padding: 0;
    margin-right: -10px;
    background: transparent;
    box-shadow: none !important;
    -webkit-shadow: none !important;
    height: auto;
    line-height:100% !important;
}


button.blue-btn-link:hover ,button.blue-btn-link:focus{
    background-color: transparent !important;
}
  
.blue-btn-link ion-icon{
  padding-left: 5px;
  
}

.header-tabs ion-col ,.header-tabs ion-icon ,.header-tabs ion-col a{
  text-align: center;
  color: #4845b7;
  text-decoration: none;
}

.header-tabs ion-icon {
  display: block;
  font-size: 24px;
}

.header-tabs ion-col a span{
  color: #fff;
  font-size: 11px;
}

.header-tabs a.active-tab ion-icon{
  color: #fecc09;
}

// side menu style

.menu-header{
    background: #2f2d78;
    padding: 16px 16px;
}

ion-menu ion-content {
    background-color: #23225a !important;
}

ion-menu ion-list button {
    background-color: transparent !important;
    border: 0px !important;
    color: #fff !important;
}

ion-menu ion-list button .item-inner{
  border: 0px !important;
}

ion-menu ion-icon {
    margin-left: 5px;
    color: #4845b7;
}

.dark-gray-bg{
  background-color: #e6e6e6 !important; 
}

image-viewer.ion-page{
  direction: ltr;
}

.text-divider {
    color: #2f2d78;
    padding: 10px;
    margin-right: 16px;
    margin-top: 25px;
}

ion-label {
    color: #23225a !important;
}

.new-uploaded-image img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
  height: 110px;
  margin: 0 auto;
}
.container-page {
  height: 100% !important;
}