.msg-container button{
    background:transparent !important;
    border-bottom: 0.55px solid #b9b9b9;
}

.msg-container .list-ios .item-block .item-inner{
    border-bottom:none !important;
}

.msg-container .new-msg h5{
    color: #23225a;
}


.msg-container h5{
    font-size: 1.07em;
}
.msg-container button{
    color: #5e5e5e;
}
.new-message {
    font-weight: 800;
}
.read-message {
    font-weight: 400;
}