<ion-header>

    <ion-toolbar class="reg-blue">
        <ion-title>حسابي</ion-title>
    </ion-toolbar>


    <ion-toolbar class="reg-blue no-v-padding" padding>
        <h2 class="yellow-text toolbar-user-name">{{userInfo.name}}</h2>
        <h6 class="white-text toolbar-mempership-number">رقم العضوية : #{{userInfo.id}}</h6>
    </ion-toolbar>

    <ion-toolbar class="dark-blue header-tabs no-v-padding">
        <ion-grid class="no-v-padding">
            <ion-row>
                <ion-col col-3>
                    <a href="#" class="active-tab" (click)="goToPage(MessagesPage)">
                        <ion-icon name="text"></ion-icon>
                        <span>الرسائل</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyDonationsPage)">
                        <ion-icon name="wheat"></ion-icon>
                        <span>مساهماتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(MyCasesPage)">
                        <ion-icon name="ios-document"></ion-icon>
                        <span>حالاتي</span>
                    </a>
                </ion-col>

                <ion-col col-3>
                    <a href="#" (click)="goToPage(SettingsPage)">
                        <ion-icon name="md-settings"></ion-icon>
                        <span>الاعدادات</span>
                    </a>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>

</ion-header>


<ion-content class="light-gray-bg small-padding" class="dark-gray-bg">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="msg-container" padding>
            <h3 *ngIf="messages.length == 0" style="text-align: center">{{message}}</h3>
            <ion-list *ngIf="messages.length > 0">
                <button *ngFor="let message of messages" ion-item class="new-msg" (click)="pushToPage(message)">
                    <h5>{{message.subject}}</h5>
                    <p *ngIf="message.status == 0" class="new-message">{{message.messages[0].content | limitTo: 40}}</p>
                    <p *ngIf="message.status == 1" class="read-message">{{message.messages[0].content | limitTo: 40}}</p>
                    <p>{{message.created_at}}</p>
                </button>
            </ion-list>

        </div>
    </div>
</ion-content>