.attach-imgs{
    padding: 50px;
    border: 1px dashed #2f2d78;
    background: #fff;
    display: block;
    margin: 16px;
    text-align: center;
}

.attach-imgs ion-icon{
    font-size: 2em;
    color: #23225a;
}

.create-case-submit{
       font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.required-star {
    color: #a51f1f;
}