.case-title{
    color:#2f2d78;
}

.case-number{
    color: #2f2d78;;
    text-align: center;
}

.case-details{
    color: #5e5e5e;
}

.attachments-container{
     text-align: center;
}

.attachments-container h4{
    color: #2f2d78;
}

.attachments-container img{
    border-radius: 15px;
        width: 150px;
    height: 150px;
    object-fit: cover;
}


.dontate-now-container{
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
}

.donate-now ion-icon{
  color: #fecc09;
  padding-left:10px;
}

.related-cases-title{
    text-align: center;
    color: #2f2d78;
}

.donate-now ion-icon:before{
    font-size: 18px;
}