page-edit-case {
  .edit-old-images {
    background: #ffffff !important;
    padding-top: 15px;
  }
  .edit-old-images h4 {
    margin-top: 0 !important;
  }
  .remove-btn {
    position: absolute;
    background-color: #a51f1f;
    font-size: 14px;
    margin-top: -13px;
    margin-right: -10px;
    border-radius: 50%;
  }
}
