<ion-header>

    <ion-toolbar>
        <ion-title>القائمة</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content class="menu-page">
    <div class="container-page" (swipe)="swipeEvent($event)">
        <ion-list>

            <ion-list-header>
                <h2>{{userInfo.name}}</h2>
                <h6>رقم العضوية : #{{userInfo.id}}</h6>
            </ion-list-header>

            <button ion-item (click)="goToPage(faq_page)">
                <ion-icon name="md-help-circle"></ion-icon>
                <span>الاسئلة الشائعة</span>
            </button>

            <button ion-item (click)="goToPage(contact_page)">
                <ion-icon name="ios-call"></ion-icon>
                <span>تواصل معنا</span>
            </button>

            <button ion-item (click)="goToPage(terms_page)">
                <ion-icon name="ios-book"></ion-icon>
                <span>الشروط والاحكام</span>
            </button>

            <button ion-item (click)="goToPage(about_page)">
                <ion-icon name="ios-information-circle"></ion-icon>
                <span>من نحن</span>
            </button>

            <button ion-item (click)="logout()">
                <ion-icon name="md-log-out"></ion-icon>
                <span>تسجيل الخروج</span>
            </button>

        </ion-list>

        <p text-center bottom>Copyright @ Dbay 2017 </p>
    </div>
</ion-content>